<section class="relative px-8 mt-10 mb-10">
    <div class="flex flex-col items-center gap-10 w-full">
        <img src="assets/img/checkout/empty_cart.png" alt="Empty cart" class="w-20 sm:w-40">
        <h1 class="text-3xl sm:text-4xl font-bold text-center">{{ 'checkout.empty-cart' | transloco }}</h1>

        <div class="flex flex-col gap-2">
            <p class="text-lg text-gray-500 text-center">{{ 'checkout.connect-to-see-cart' | transloco }}</p>
            <button class="w-full bg-green-700 py-1 px-5 rounded-xl text-white text-lg font-bold" routerLink="/sign-in">{{ 'checkout.login' | transloco }}</button>
        </div>

        <a routerLink="/products" class="text-green-600 font-bold text-xl underline cursor-pointer">{{ 'checkout.continue-shopping' | transloco }}</a>
    </div>
</section>
