<div class="lg:w-3/4 w-full h-full mt-5">
  <form class="flex flex-col gap-4 lg:w-full" [formGroup]="updateUserAccountFormGroup">
    <!-- 1st Row -->
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <tui-input formControlName="loginFormControl" tuiTextfieldIconLeft="tuiIconLogInLarge">
        {{ 'sign-up.type-login' | transloco }}
        <input tuiTextfield type="text" />
      </tui-input>

      <tui-input formControlName="emailFormControl" tuiTextfieldIconLeft="tuiIconMailLarge">
        {{ 'sign-up.type-email' | transloco }}
        <input tuiTextfield type="email" />
      </tui-input>
    </div>

    <!-- 2nd Row -->
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <div class="col-span-2 font-bold text-xl">{{ 'sign-up.personal-info' | transloco }}</div>
    </div>

    <!-- 3rd Row -->
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <tui-input formControlName="firstNameFormControl" tuiTextfieldIconLeft="tuiIconUserLarge">
        {{ 'sign-up.first-name' | transloco }}
        <input tuiTextfield type="text" />
      </tui-input>

      <tui-input formControlName="lastNameFormControl" tuiTextfieldIconLeft="tuiIconUserLarge">
        {{ 'sign-up.last-name' | transloco }}
        <input tuiTextfield type="text" />
      </tui-input>
    </div>

    <!-- 4th Row -->
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <tui-input formControlName="civilityFormControl" tuiTextfieldIconLeft="tuiIconUserLarge">
        {{ 'sign-up.civility' | transloco }}
        <input tuiTextfield type="text" />
      </tui-input>

      <tui-input-phone-international formControlName="phoneNumberFormControl" [countries]="countries"
                                     [(countryIsoCode)]="countryIsoCode">
        {{ 'sign-up.phone-number' | transloco }}
      </tui-input-phone-international>
    </div>

    <!-- 5th Row -->
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <div class="col-span-2 font-bold text-xl">{{ 'sign-up.address' | transloco }}</div>
    </div>

    <!-- 6th Row -->
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <tui-input formControlName="addressFormControl" tuiTextfieldIconLeft="tuiIconNavigationLarge">
        {{ 'sign-up.address' | transloco }}
        <input tuiTextfield type="text" />
      </tui-input>

      <tui-input formControlName="postalCodeFormControl" tuiTextfieldIconLeft="tuiIconNavigationLarge">
        {{ 'sign-up.postal-code' | transloco }}
        <input tuiTextfield placeholder="67000" type="number"/>
      </tui-input>
    </div>

    <!-- 7th Row -->
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <tui-input formControlName="cityFormControl" tuiTextfieldIconLeft="tuiIconNavigationLarge">
        {{ 'sign-up.city' | transloco }}
        <input tuiTextfield type="text" />
      </tui-input>

      <tui-combo-box tuiTextfieldIconLeft="tuiIconNavigationLarge" formControlName="countryFormControl" *tuiLet="countriesNames$ | async as countryNames">
        {{ 'sign-up.country' | transloco }}
        <input  placeholder="{{ 'sign-up.country-placeholder' | transloco }}"  tuiTextfield type="text" />
        <tui-data-list-wrapper *tuiDataList
                               [items]="countries | tuiMapper:countryNameMapper:countryNames | tuiFilterByInput">
        </tui-data-list-wrapper>
      </tui-combo-box>
    </div>
  </form>
</div>
