<div class="flex items-center">
  <img src="assets/img/account/left_arrow.svg" alt="Right arrow" class="sm:hidden mr-5 w-6 h-6" (click)="goBackClick()">
  <h1 class="text-3xl font-bold ">My details</h1>
</div>
<div class="lg:w-3/4 w-full h-full mt-5">
  <form class="flex flex-col gap-4 lg:w-full" [formGroup]="updateUserAccountFormGroup">
    <!-- 1st Row -->
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <app-form-input [parentForm]="updateUserAccountFormGroup" label="{{ 'sign-up.type-login' | transloco }}" controlName="loginFormControl" icon="tuiIconLogInLarge" type="text"></app-form-input>

      <app-form-input [parentForm]="updateUserAccountFormGroup" label="{{ 'sign-up.type-email' | transloco }}" controlName="emailFormControl" icon="tuiIconMailLarge" type="email"></app-form-input>
    </div>

    <!-- 2nd Row -->
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <div class="col-span-2 font-bold text-xl">{{ 'sign-up.personal-info' | transloco }}</div>
    </div>

    <!-- 3rd Row -->
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <app-form-input [parentForm]="updateUserAccountFormGroup" label="{{ 'sign-up.first-name' | transloco }}" controlName="firstNameFormControl"></app-form-input>

      <app-form-input [parentForm]="updateUserAccountFormGroup" label="{{ 'sign-up.last-name' | transloco }}" controlName="lastNameFormControl"></app-form-input>
    </div>

    <!-- 4th Row -->
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <app-form-input [parentForm]="updateUserAccountFormGroup" label="{{ 'sign-up.civility' | transloco }}" controlName="civilityFormControl"></app-form-input>

      <app-form-input [parentForm]="updateUserAccountFormGroup" label="{{ 'sign-up.phone-number' | transloco }}" controlName="phoneNumberFormControl" type="tel"></app-form-input>
    </div>

    <!-- 5th Row -->
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <div class="col-span-2 font-bold text-xl">{{ 'sign-up.address' | transloco }}</div>
    </div>

    <!-- 6th Row -->
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <app-form-input [parentForm]="updateUserAccountFormGroup" label="{{ 'sign-up.address' | transloco }}" controlName="addressFormControl"></app-form-input>

      <app-form-input [parentForm]="updateUserAccountFormGroup" label="{{ 'sign-up.postal-code' | transloco }}" controlName="postalCodeFormControl"></app-form-input>
    </div>

    <!-- 7th Row -->
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
      <app-form-input [parentForm]="updateUserAccountFormGroup" label="{{ 'sign-up.city' | transloco }}" controlName="cityFormControl"></app-form-input>

      <app-form-input [parentForm]="updateUserAccountFormGroup" label="{{ 'sign-up.country' | transloco }}" controlName="countryFormControl"></app-form-input>
    </div>


    <button type="submit" class="bg-[#008C45] text-white font-bold py-2 rounded-lg hover:bg-primary-dark transition duration-300 ease-in-out transform hover:scale-105">
      {{ 'sign-up.sign-up' | transloco }}
    </button>
  </form>
</div>
