<section class="grid grid-cols-1 lg:grid-cols-2 grid-rows-1 gap-x-10 items-center justify-center m-8">

  <!-- Left side - Forms -->
  <div class="flex flex-col items-center lg:justify-self-end justify-self-center w-3/4">
    <h2 class="text-center mt-0 lg:text-3xl text-3xl font-bold">{{ 'sign-in.title' | transloco }}</h2>
    <div class="text-gray-500 flex flex-col text-center mt-5 text-sm">
      <label>{{ 'sign-in.glad-to-see-you' | transloco }}</label>
      <label>{{ 'sign-in.login-with-account' | transloco }}</label>
    </div>

    <div class="w-full h-full mt-5">
      <form class="flex flex-col gap-4 lg:w-full" [formGroup]="signInFormGroup">
        <tui-input formControlName="emailFormControl" tuiTextfieldIconLeft="tuiIconMailLarge">
          {{ 'sign-in.type-email' | transloco }}
          <input tuiTextfield type="email" />
        </tui-input>

        <tui-input formControlName="passwordFormControl" tuiTextfieldIconLeft="tuiIconLockLarge">
          {{ 'sign-in.type-password' | transloco }}
          <input tuiTextfield type="password" />
        </tui-input>

        <div class="flex justify-between items-center">
          <div class="flex gap-2">
            <tui-checkbox formControlName="rememberMeFormControl"></tui-checkbox>
            <label>{{ 'sign-in.remember-me' | transloco }}</label>
          </div>

          <label>{{ 'sign-in.forgot-password' | transloco }}</label>
        </div>

        <button
          type="submit"
          class="bg-[#008C45] text-white font-bold py-2 rounded-lg hover:bg-primary-dark transition duration-300 ease-in-out transform hover:scale-105"
        >
          {{ 'sign-in.sign-in' | transloco }}
        </button>
      </form>
    </div>
    <tui-notification class="w-full mt-5">
      {{ 'sign-in.no-account' | transloco }} <a routerLink="/sign-up" class="font-bold">{{ 'sign-in.sign-up' | transloco }}</a>
      {{ 'sign-in.to-get-free-pizza' | transloco }}
    </tui-notification>
  </div>

  <!-- Right side - Image -->
  <div class="justify-self-start hidden lg:block w-[440px] h-[440px]">
    <img src="assets/img/sign-in/sign-in_visual.png" alt="Visual italy sign in" />
  </div>

</section>
