<div [routerLink]="['/product', product.id]" class="rounded-xl shadow-lg grid grid-rows-2 grid-cols-1 h-full sm:transition-transform duration-500 sm:hover:-translate-y-1 ">
  <div class="bg-white relative flex items-center justify-center rounded-t-xl">
    <div class="absolute top-0 right-0 mt-1.5 mr-2 sm:mt-3 sm:mr-3 h-4 w-4 sm:h-5 sm:w-5" 
        (click)="toggleFavorite(); $event.stopPropagation()" 
        (mouseenter)="isHoveringFavoriteBtn = true" 
        (mouseleave)="isHoveringFavoriteBtn = false">
      <img *ngIf="showNonFavorite()" src="assets/img/products/heart_empty.svg" alt="Non favorite product">
      <img *ngIf="showFavorite()" src="assets/img/products/heart_full.svg" alt="Favorite product">
    </div>


    <img [src]="product.image" alt="{{ product.title }}" class="object-scale-down w-auto sm:h-40 h-32">
    <img src="assets/img/italy_flag_bar.svg" alt="Italian flag between image and information" class="absolute bottom-[-6px]">
  </div>
  <div class="bg-gray-100 py-5 px-5 flex flex-col justify-between rounded-b-xl">
    <div>
      <p class="text-sm sm:text-xl font-bold capitalize line-clamp-3">{{ product.title }}</p>
      <p class="text-gray-500 mt-1 text-sm sm:text-xl font-light line-clamp-1">{{ product.info }}</p>
    </div>
    <div class="flex justify-between items-end mt-3">
      <p class="text-green-600 mt-1 text-xl sm:text-3xl font-medium">{{ product.price }}<span class="text-sm sm:text-xl">€</span> </p>
      <img (click)="addProductToBasket(); $event.stopPropagation()" src="assets/img/add_to_cart.svg" alt="Add product to cart" class="cursor-pointer w-10 h-10 sm:w-14 sm:h-14">
    </div>
  </div>
</div>

<!-- Note for myself -->
<!-- $event.stopPropagation() on the image click event is used to prevent the parent div from being clicked and redirecting to the product detail page. -->