<nav class="h-16 my-2 flex justify-between items-center px-10 lg:gap-10 gap-5 w-full max-w-screen-xl mx-auto">
  <!-- Livalie Logo -->
  <button routerLink="/" class="w-24 h-24 sm:w-48 sm:h-14">
    <img src="assets/img/livalie_logo.svg" alt="Livalie Logo" />
  </button>

  <!-- Nav links -->
  <div class="hidden lg:flex gap-10 uppercase font-bold text-lg text-gray-600">
    <ng-container *ngFor="let link of ['products', 'about', 'contact']">
      <a routerLink="/{{link}}" class="relative w-max block after:block after:content-[''] after:absolute after:h-[3px] after:bg-[#008C45] after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center">
        {{ 'header.nav-links.' + link | transloco }}
      </a>
    </ng-container>
  </div>


  <!-- Search bar and icons -->
  <div class="flex gap-5 lg:gap-8 w-full">
    <!-- Search input -->
    <tui-input class="w-full" [formControl]="searchProduct" tuiTextfieldIconLeft="tuiIconSearch" tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      {{ 'header.search-placeholder' | transloco }}
      <input tuiTextfield />
    </tui-input>

    <!-- Shopping cart icon (visible on small screens) -->
    <a routerLink="/" class="hidden sm:block">
      <img class="hover:opacity-70 transition-opacity w-full h-full" src="assets/img/shopping_cart_logo.svg" alt="Shopping cart" />
    </a>

    <div class="hidden sm:block">
      <tui-hosted-dropdown
        tuiDropdownAlign="center"
        tuiDropdownHover
        [content]="content"
        [tuiDropdownOffset]="0"
        [(open)]="isOpenDropdownAccount"
        class="w-full h-full"
      >
        <button tuiButton tuiHostedDropdownHost class="w-full h-full">
          <img class="hover:opacity-70 transition-opacity" src="/assets/img/account_logo.svg" alt="User account" />
        </button>
        <ng-template #content>
          <tui-data-list>
            <button tuiOption routerLink="/account">{{ 'header.my-account' | transloco }}</button>
            <button tuiOption routerLink="/sign-in">{{ 'header.sign-in' | transloco }}</button>
            <button tuiOption routerLink="/sign-up">{{ 'header.sign-up' | transloco }}</button>
          </tui-data-list>
        </ng-template>
      </tui-hosted-dropdown>
    </div>

    <!-- Burger menu (visible on small screens) -->
    <button
      tuiButton
      type="button"
      (click)="toggleBurgerMenu(true)"
      (tuiActiveZoneChange)="toggleBurgerMenu($event)"
      class="block lg:hidden"
    >
      <!-- Burger icon -->
      <tui-svg src="tuiIconMenuLarge"></tui-svg>

      <!-- Nest the directive so it is considered the same active zone -->
      <div *tuiSidebar="openBurgerMenu; direction: 'right'">
        <tui-accordion [rounded]="false" class="">
          <tui-accordion-item borders="top-bottom">
            <p class="font-bold text-xl">{{ 'header.categories' | transloco }}</p>
            <ng-template tuiAccordionItemContent>
              <a
                *ngFor="let categoryLink of categoriesLinks"
                routerLink="/"
                rel="noreferrer"
                class="block text-gray-600 text-lg"
                (click)="toggleBurgerMenu(false)"
              >
                {{ categoryLink }}
              </a>
            </ng-template>
          </tui-accordion-item>
          <tui-accordion-item borders="top-bottom">
            <p class="font-bold text-xl">{{ 'header.account' | transloco }}</p>
            <ng-template tuiAccordionItemContent>
              <a
                *ngFor="let accountLink of accountLinks"
                routerLink="/{{accountLink.toLowerCase()}}"
                rel="noreferrer"
                class="block text-gray-600 text-lg"
                (click)="toggleBurgerMenu(false)"
              >
                {{ accountLink }}
              </a>
            </ng-template>
          </tui-accordion-item>
          <tui-accordion-item borders="top-bottom">
            <p class="font-bold text-xl">{{ 'header.language' | transloco }}</p>
            <ng-template tuiAccordionItemContent>
              <app-language-switcher></app-language-switcher>
            </ng-template>
          </tui-accordion-item>
        </tui-accordion>
      </div>
    </button>

    <!-- Language dropdown (visible on large screens) -->
    <div class="hidden lg:block">
      <app-language-switcher></app-language-switcher>
    </div>
  </div>
</nav>
