<section class="h-16 my-2 flex items-center justify-between items-center px-10 lg:gap-10 gap-5 w-full max-w-screen-xl mx-auto">
  <!-- Livalie Logo -->
  <img class="w-20 h-20 sm:w-max sm:h-max" src="assets/img/livalie_logo.svg" alt="Livalie Logo" />

  <!-- Nav links -->
  <div class="hidden lg:flex gap-10">
    <p class="uppercase font-bold text-lg text-gray-600 hover:text-red-500 transition-colors">Products</p>
    <p class="uppercase font-bold text-lg text-gray-600 hover:text-red-500 transition-colors">About</p>
    <p class="uppercase font-bold text-lg text-gray-600 hover:text-red-500 transition-colors">Contact</p>
  </div>

  <!-- Search bar and icons -->
  <div class="flex gap-5 lg:gap-8 w-full">
    <!-- Search input -->
    <tui-input class="w-full" tuiTextfieldIconLeft="tuiIconSearch" tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      Search products
      <input tuiTextfield />
    </tui-input>

    <!-- Shopping cart icon (not visible on xs) -->
    <img class="hidden sm:block" src="assets/img/shopping_cart_logo.svg" alt="Shopping cart" />

    <!-- User account icon (not visible on xs) -->
    <img class="hidden sm:block" src="/assets/img/account_logo.svg" alt="User account" />

    <!-- Burger menu (visible on small screens) -->
    <img class="lg:hidden" src="/assets/img/burger_menu.svg" alt="Burger menu" />

    <!-- Language dropdown (visible on large screens) -->
    <div class="hidden lg:block">
      <tui-select
        tuiTextfieldSize="m"
        [formControl]="formLanguage"
        [tuiTextfieldLabelOutside]="true"
        class="w-20"
      >
        <input tuiTextfield />
        <tui-data-list-wrapper *tuiDataList [items]="languages"></tui-data-list-wrapper>
      </tui-select>
    </div>
  </div>
</section>
