<h1 class="text-xl font-bold mb-5">Add a new card</h1>
<form tuiGroup [formGroup]="form" (ngSubmit)="onSubmit()">
    <tui-input formControlName="name">Card name</tui-input>
    <tui-input-card formControlName="code" [cardSrc]="card">Card number</tui-input-card>
    <tui-input-cvc formControlName="ccv">CVC/CVV</tui-input-cvc>
    <tui-input-number formControlName="month">Month</tui-input-number>
    <tui-input-number formControlName="year">Year</tui-input-number>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" [disabled]="!form.valid">Submit</button>
</form>