<h1 class="text-xl font-bold mb-5">{{ 'my-cards.add-card' | transloco }}</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" 
    class="grid grid-cols-1 sm:grid-cols-3 gap-2 lg:w-2/3">
    <tui-input class="sm:col-span-3" formControlName="name">{{ 'my-cards.card-name' | transloco }}</tui-input>
    <tui-input-card class="sm:col-span-3" formControlName="code"  [cardSrc]="card">{{ 'my-cards.card-number' | transloco }}</tui-input-card>
    <tui-input-number formControlName="month" [max]="12">{{ 'my-cards.month' | transloco }}
        <input tuiTextfield type="text" placeholder="00" />
    </tui-input-number>
    <tui-input-number formControlName="year" [max]="9999">{{ 'my-cards.year' | transloco }}
        <input tuiTextfield type="text" placeholder="0000" />
    </tui-input-number>
    <tui-input-number formControlName="ccv" [max]="9999">{{ 'my-cards.cvv' | transloco }}
        <input tuiTextfield type="text" placeholder="000" />
    </tui-input-number>
    <button type="submit" class="sm:col-span-3 bg-green-700 text-white font-bold py-2 px-4 rounded-lg cursor-pointer" [disabled]="!form.valid">{{ 'my-cards.add-card-button' | transloco }}</button>
</form>

