<tui-select
  tuiTextfieldSize="m"
  [formControl]="formLanguage"
  [tuiTextfieldLabelOutside]="true"
  [valueContent]="selectedLanguageContent"
  class="w-28"
>
  <tui-data-list-wrapper
    *tuiDataList
    [items]="languages"
    [itemContent]="selectedLanguageContent"
  >
  </tui-data-list-wrapper>
</tui-select>

<ng-template #selectedLanguageContent let-item>
  <div class="flex">
    <img class="aspect-[4/3] w-6 mr-2" [src]="item.iso | tuiFlag"  alt="Flag {{item.lang}}"/>
    <p>{{item.lang}}</p>
  </div>
</ng-template>
