<section class="px-8">
  <h1 class="text-3xl sm:text-4xl font-bold lg:mt-10 mt-5">My account</h1>

  <div class="flex shadow-xl bg-white min-h-screen w-full">
    <!-- Navigation Section -->
    <div *ngIf="(isMobile && activeTab === 'NavItems') || !isMobile" class="flex-none w-full sm:w-56 mt-5 rounded-tl-xl border">
      <div class="py-8 px-5 h-full">
        <app-nav-item label="My details" icon="assets/img/account/my_details.svg" (tabSelected)="setActiveTab('MyDetails')"></app-nav-item>
        <app-nav-item label="My orders" icon="assets/img/account/my_orders.svg" (tabSelected)="setActiveTab('MyOrders')" [isLastItem]="true"></app-nav-item>
      </div>
    </div>

    <!-- Details Section -->
    <div *ngIf="(isMobile && activeTab !== 'NavItems') || !isMobile" class="grow-1 w-full mt-5 rounded-tr-xl border">
      <div class="px-10 py-6">
        <div *ngIf="activeTab === 'MyDetails'">
          <app-my-details (backClicked)="setActiveTab('NavItems')"></app-my-details>
        </div>
        <div *ngIf="activeTab === 'MyOrders'">
          <app-my-orders (backClicked)="setActiveTab('NavItems')"></app-my-orders>
        </div>
      </div>
    </div>
  </div>
</section>
