<section class="py-10 px-8">
  <div class="w-full">
    <div>
      <span class="text-3xl lg:text-5xl font-semibold break-words"
      >La dolce vita, but at
      </span>
      <span
        class="bg-gradient-to-b from-[#008C45] via-[#BFBFBF] via-60% to-[#CD212A] text-3xl lg:text-5xl font-semibold text-transparent bg-clip-text italic break-words">
        Livalie’s 
      </span>
    </div>
    <p class="text-lg sm:text-xl text-gray-500 mt-1 sm:w-2/3 break-words">
      This Italian boutique is your one-stop shop for all the things an Italian
      must have, or Princess Befana will take care of you...
    </p>
  </div>

  <h1 class="mt-8 text-2xl sm:text-3xl font-bold">Top three must-haves</h1>
</section>
