<section class="relative w-full max-w-screen-xl mx-auto px-8">
  <div class="flex">
    <div class="sm:w-1/2 lg:mt-20 sm:mt-5 py-10">
      <div class="font-italiana font-semibold text-5xl sm:text-6xl lg:text-7xl lg:leading-none">
        <span>La dolce vita, </span>
        <br><span>but at</span>
        <span
          class="bg-gradient-to-b from-[#008C45] from-0% to-[#CD212A] via-90% text-transparent bg-clip-text opacity-90 ">
        Livalie’s 
      </span>
      </div>
      <p class="text-lg sm:text-xl text-gray-500 mt-1 break-words">
        Your one-stop italian shop for all the things an Italian must have, or Befana will take care of you !
      </p>
    </div>
    <img src="assets/img/italian_flag_blob.svg" alt="hero" class="hidden sm:block lg:w-1/2 sm:w-auto lg:h-auto sm:h-80 absolute top-0 right-0" >
  </div>

  <h1 class="mt-8 text-2xl sm:text-4xl font-bold mt-12">Categories</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-4 mb-20">
    <div class="bg-white rounded-lg shadow-lg py-10 px-4 flex flex-col items-center transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
      <img src="assets/img/category_food.svg" alt="food" class="object-contain w-60 h-52">
      <h2 class="mt-10 text-4xl font-bold mt-2 uppercase font-italiana justify-center flex">Food</h2>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-10 px-4 flex flex-col items-center transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
      <img src="assets/img/category_kitchen.svg" alt="wine" class="object-contain w-60 h-52">
      <h2 class="mt-10 text-4xl font-bold mt-2 uppercase font-italiana justify-center flex">Kitchen</h2>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-10 px-4 flex flex-col items-center transition duration-200 ease-in-out transform hover:-translate-y-1 hover:scale-110">
      <img src="assets/img/category_fashion.svg" alt="food" class="object-contain w-60 h-52">
      <h2 class="mt-10 text-4xl font-bold mt-2 uppercase font-italiana justify-center flex">Fashion</h2>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-10 px-4 flex flex-col items-center transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
      <img src="assets/img/category_culture.svg" alt="food" class="object-contain w-60 h-52">
      <h2 class="mt-10 text-4xl font-bold mt-2 uppercase font-italiana justify-center flex">Culture</h2>
    </div>
  </div>

  <h1 class="mt-8 text-2xl sm:text-4xl font-bold mt-12">Best Sellers</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-4 mb-20 ">
      <app-product-card *ngFor="let product of bestSellersProducts" [product]="product"></app-product-card>
  </div>
</section>
