<section class="grid grid-cols-1 lg:grid-cols-2 grid-rows-1 justify-center gap-x-10 items-center min-h-[calc(100vh-132.8px)] my-10">

  <!-- Left side - Forms -->
  <div class="flex flex-col items-center justify-self-center w-3/4 lg:w-full">
    <h1 class="text-center mt-0 lg:text-3xl text-3xl font-bold">{{ 'sign-up.title' | transloco }}</h1><br>
    <div class="text-gray-500 flex flex-col items-center text-sm">
      <label>{{ 'sign-up.lets-get-started' | transloco }}</label>
    </div>

    <div class="w-full h-full mt-5">
      <form class="flex flex-col gap-4 lg:w-full" [formGroup]="signUpFormGroup">
        <!-- 1st Row -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
          <app-form-input [parentForm]="signUpFormGroup" label="{{ 'sign-up.type-email' | transloco }}" controlName="emailFormControl" icon="tuiIconMailLarge" type="email"></app-form-input>

          <app-form-input [parentForm]="signUpFormGroup" label="{{ 'sign-up.type-password' | transloco }}" controlName="passwordFormControl" icon="tuiIconLockLarge" type="password"></app-form-input>
        </div>

        <!-- 2nd Row -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
          <div class="col-span-2 font-bold text-xl">{{ 'sign-up.personal-info' | transloco }}</div>
        </div>

        <!-- 3rd Row -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
          <app-form-input [parentForm]="signUpFormGroup" label="{{ 'sign-up.first-name' | transloco }}" controlName="firstNameFormControl"></app-form-input>

          <app-form-input [parentForm]="signUpFormGroup" label="{{ 'sign-up.last-name' | transloco }}" controlName="lastNameFormControl"></app-form-input>
        </div>

        <!-- 4th Row -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
          <app-form-input [parentForm]="signUpFormGroup" label="{{ 'sign-up.civility' | transloco }}" controlName="civilityFormControl"></app-form-input>

          <app-form-input [parentForm]="signUpFormGroup" label="{{ 'sign-up.phone-number' | transloco }}" controlName="phoneNumberFormControl" type="tel"></app-form-input>
        </div>

        <!-- 5th Row -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
          <div class="col-span-2 font-bold text-xl">{{ 'sign-up.address' | transloco }}</div>
        </div>

        <!-- 6th Row -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
          <app-form-input [parentForm]="signUpFormGroup" label="{{ 'sign-up.address' | transloco }}" controlName="addressFormControl"></app-form-input>

          <app-form-input [parentForm]="signUpFormGroup" label="{{ 'sign-up.postal-code' | transloco }}" controlName="postalCodeFormControl"></app-form-input>
        </div>

        <!-- 7th Row -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
          <app-form-input [parentForm]="signUpFormGroup" label="{{ 'sign-up.city' | transloco }}" controlName="cityFormControl"></app-form-input>

          <app-form-input [parentForm]="signUpFormGroup" label="{{ 'sign-up.country' | transloco }}" controlName="countryFormControl"></app-form-input>
        </div>

        <button type="submit" class="bg-[#008C45] text-white font-bold py-2 rounded-lg hover:bg-primary-dark transition duration-300 ease-in-out transform hover:scale-105">
          {{ 'sign-up.sign-up' | transloco }}
        </button>
      </form>
    </div>
    <tui-notification class="w-full mt-5">
      {{ 'sign-up.already-have-account' | transloco }} <a routerLink="/sign-in" class="font-bold">{{ 'sign-up.sign-in' | transloco }}</a>
      {{ 'sign-up.to-enjoy-more-pizza' | transloco }}
    </tui-notification>
  </div>

  <!-- Right side - Image -->
  <div class="justify-self-start hidden lg:block">
    <img src="assets/img/sign-up/sign-up_visual.png" alt="Visual italy sign up"/>
  </div>

</section>
