<section class="grid grid-cols-1 lg:grid-cols-2 grid-rows-1 justify-center gap-x-10 items-center min-h-[calc(100vh-132.8px)] my-10">

  <!-- Left side - Forms -->
  <div class="flex flex-col items-center justify-self-center w-3/4 lg:w-full">
    <h1 class="text-center mt-0 lg:text-3xl text-3xl font-bold">{{ 'sign-up.title' | transloco }}</h1><br>
    <div class="text-gray-500 flex flex-col items-center text-sm">
      <label>{{ 'sign-up.lets-get-started' | transloco }}</label>
    </div>

    <div class="w-full h-full mt-5">
      <form class="flex flex-col gap-4 lg:w-full" [formGroup]="signUpFormGroup">
        <!-- 1st Row -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
          <tui-input formControlName="emailFormControl" tuiTextfieldIconLeft="tuiIconMailLarge">
            {{ 'sign-up.type-email' | transloco }}
            <input tuiTextfield type="email" />
          </tui-input>

          <tui-input formControlName="passwordFormControl" tuiTextfieldIconLeft="tuiIconLockLarge">
            {{ 'sign-up.type-password' | transloco }}
            <input tuiTextfield type="password" />
          </tui-input>
        </div>

        <!-- 2nd Row -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
          <div class="col-span-2 font-bold text-xl">{{ 'sign-up.personal-info' | transloco }}</div>
        </div>

        <!-- 3rd Row -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
          <tui-input formControlName="firstNameFormControl">
            {{ 'sign-up.first-name' | transloco }}
            <input tuiTextfield type="text" />
          </tui-input>

          <tui-input formControlName="lastNameFormControl">
            {{ 'sign-up.last-name' | transloco }}
            <input tuiTextfield type="text" />
          </tui-input>
        </div>

        <!-- 4th Row -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
          <tui-input formControlName="civilityFormControl">
            {{ 'sign-up.civility' | transloco }}
            <input tuiTextfield type="text" />
          </tui-input>

          <tui-input formControlName="phoneNumberFormControl">
            {{ 'sign-up.phone-number' | transloco }}
            <input tuiTextfield type="tel" />
          </tui-input>
        </div>

        <!-- 5th Row -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
          <div class="col-span-2 font-bold text-xl">{{ 'sign-up.address' | transloco }}</div>
        </div>

        <!-- 6th Row -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
          <tui-input formControlName="addressFormControl">
            {{ 'sign-up.address' | transloco }}
            <input tuiTextfield type="text" />
          </tui-input>

          <tui-input formControlName="postalCodeFormControl">
            {{ 'sign-up.postal-code' | transloco }}
            <input tuiTextfield type="text" />
          </tui-input>
        </div>

        <!-- 7th Row -->
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
          <tui-input formControlName="cityFormControl">
            {{ 'sign-up.city' | transloco }}
            <input tuiTextfield type="text" />
          </tui-input>

          <tui-input formControlName="countryFormControl">
            {{ 'sign-up.country' | transloco }}
            <input tuiTextfield type="text" />
          </tui-input>
        </div>

        <button
          type="submit"
          class="bg-[#008C45]
        text-white
        font-bold
        py-2
        rounded-lg
        hover:bg-primary-dark
        transition
        duration-300
        ease-in-out
        transform
        hover:scale-105
        "
        >
          {{ 'sign-up.sign-up' | transloco }}
        </button>
      </form>
    </div>
    <tui-notification class="w-full mt-5">
      {{ 'sign-up.already-have-account' | transloco }} <a routerLink="/sign-in" class="font-bold">{{ 'sign-up.sign-in' | transloco }}</a>
      {{ 'sign-up.to-enjoy-more-pizza' | transloco }}
    </tui-notification>
  </div>

  <!-- Right side - Image -->
  <div class="justify-self-start hidden lg:block">
    <img src="assets/img/sign-up/sign-up_visual.png" alt="Visual italy sign up"/>
  </div>

</section>
